$primary-color: #5f5f5f;
$black: #000;
$white: #fff;
$app-link-color: #507cb7;
$app-link-hover: #607dd7;

$tag-color-platinum: #e5e4e2;
$tag-color-gold: #ffcf00;
$tag-color-silver: #e0e1e4;
$tag-color-bronze: #ffc7a1;
$tag-text-color: #241b00;
$tag-color-transparent: transparent;
$tag-color-registered: #9EF0F0;