@import "_base";

html {
    height: 100%;
}

body {
    margin: 0;
    // font-family: $base-font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $primary-color;
    text-align: left;
    background-color: $ui-background;
    height: 100%;
}
