
.airport--connectivity-builder-page{
    .airport--connectivity-dropdown-section{
        width: 25%;
        margin: auto;
    }
    .airport--connectivity-dropdown{
        margin-top: 1rem;
    }
    .airport--connectivity-table{
        margin-top: 2rem;
    }
    .airport--connectivity-map{
        margin-top: 2rem;
    }
}